In [13]:
import numpy as np
import pandas as pd

In [14]:
df = pd.read_csv('data/Training File.csv')

In [15]:
df.describe()

,G-DAM MCP,RTM MCP,G-DAM MCV,RTM MCV,G-DAM Purchase Bid,G-DAM Sell Bid (MW),RTM Purchase Bid (MW),RTM Sell Bid (MW)
count,121152.000000,120405.000000,121152.000000,120405.000000,121152.000000,121152.000000,120405.000000,120405.000000
mean,5.583201,4.836197,715.855885,3926.790324,2552.577764,976.393190,6798.872160,7609.057163
std,2.833031,2.783929,891.564481,1729.646177,1360.348952,942.350927,5596.976952,5149.214508
min,0.199950,0.000000,26.700000,0.000000,306.600000,0.000000,0.000000,0.000000
25%,3.700000,3.010000,244.100000,2737.900000,1572.200000,288.200000,4180.800000,4330.700000
50%,4.500000,3.880000,442.500000,3580.100000,2208.300000,645.750000,5389.600000,5963.900000
75%,7.000000,5.570000,863.000000,4732.790000,3199.900000,1338.325000,7179.400000,9269.600000
max,20.000000,16.740000,10000.000000,17736.000000,11870.300000,7086.900000,62283.800000,42652.500000